# Определение сервисов Docker Compose
services:
  # Сервис базы данных с именем db
  db:
    # Используется официальный образ PostgreSQL версии 13
    image: postgres:13
    # Явное имя контейнера для удобства обращения
    container_name: postgres
    # Переменные окружения для настройки PostgreSQL
    environment:
      - POSTGRES_DB=${POSTGRES_DB}              # Имя создаваемой базы данных
      - POSTGRES_USER=${POSTGRES_USER}          # Имя пользователя БД
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}  # Пароль пользователя БД
    # Монтирование томов для сохранения данных
    volumes:
      - ./data/postgres:/var/lib/postgresql/data  # Постоянное хранилище данных БД
    # Проброс портов между контейнером и хостом
    ports:
      - "5432:5432"  # Стандартный порт PostgreSQL доступен с хоста
    # Подключение к пользовательской сети
    networks:
      - main  # Сеть для связи с другими сервисами
