name: Run Unit Tests

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      FLASK_SECRET_KEY: "test-secret"
      DB_TYPE: "fake"   # чтобы всё работало на FakeDB

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.9"

      - name: Install dependencies
        run: |
          pip install uv
          uv sync

      - name: Run unit tests
        run: |
          pytest -q
