name: SAST

on:
  push:
  pull_request:

jobs:

  bandit:
    name: Bandit SAST
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Bandit
        run: |
          pip install bandit

      - name: Run Bandit
        run: |
          bandit -r . -f screen -ll



  semgrep:
    name: Semgrep SAST
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Semgrep Scan
        uses: returntocorp/semgrep-action@v1
        with:
          config: "p/ci"

  snyk-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Snyk CLI
        run: |
          curl -sL https://static.snyk.io/cli/latest/snyk-linux -o snyk
          chmod +x snyk
          sudo mv snyk /usr/local/bin/

      - name: Authenticate Snyk (Device Flow)
        run: |
          snyk auth --dev

      - name: Run Snyk Code SAST
        run: |
          snyk code test --json-file-output=snyk-code-report.json || true

      - name: Upload Snyk report
        uses: actions/upload-artifact@v4
        with:
          name: snyk-code-report
          path: snyk-code-report.json
