name: SCA

on:
  push:
  pull_request:

jobs:

  trivy:
    name: Trivy SCA scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Docker image
        run: docker build -t app .
      - name: Run Trivy (Filesystem)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: app
          format: table
          exit-code: 1



  safety:
    name: Safety Python Dependency Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Safety
        run: |
          pip install safety

      - name: Run Safety Check
        run: |
          safety check --full-report --file requirements.txt > safety-report.txt

      - name: Upload Safety report
        uses: actions/upload-artifact@v4
        with:
          name: safety-report
          path: safety-report.txt

  depcheck-scan:
    runs-on: ubuntu-latest
    environment: secret
    steps:
      - uses: actions/checkout@v4

      - name: Run OWASP Dependency-Check
        uses: dependency-check/Dependency-Check_Action@6.5.3
        with:
          project: project
          path: '.'
          format: 'HTML'
          out: 'reports'
          args: '--ossindexUsername ${{ secrets.OSSINDEX_USERNAME }} --ossindexToken ${{ secrets.OSSINDEX_TOKEN }} --disableRetireJS'
          
      - name: Upload report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: reports/"
