name: SCA

on:
  push:
  pull_request:

jobs:

  trivy:
    name: Trivy SCA scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Docker image
        run: docker build -t app .
      - name: Run Trivy (Filesystem)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: app
          format: table
          exit-code: 1



  safety:
    name: Safety Python Dependency Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Safety
        run: |
          pip install safety

      - name: Run Safety Check
        run: |
          safety check --full-report --file requirements.txt > safety-report.txt

      - name: Upload Safety report
        uses: actions/upload-artifact@v4
        with:
          name: safety-report
          path: safety-report.txt

  depchecktest:
    runs-on: ubuntu-latest
    name: depecheck_test
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build project with Maven
        run: mvn clean install
      - name: Depcheck
        uses: dependency-check/Dependency-Check_Action@main
        id: Depcheck
        with:
          project: 'test'
          path: '.'
          format: 'HTML'
          out: 'reports' 
          args: >
            --failOnCVSS 7
            --enableRetired
      - name: Upload Test results
        uses: actions/upload-artifact@master
        with:
           name: Depcheck report
           path: ${{github.workspace}}/reports
