name: SCA

on:
  push:
  pull_request:

jobs:

  trivy:
    name: Trivy SCA scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run Trivy (Filesystem)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          format: table
          exit-code: 0

  safety:
    name: Safety Python Dependency Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Safety
        run: |
          pip install safety

      - name: Run Safety Check
        run: |
          safety check --full-report > safety-report.txt

      - name: Upload Safety report
        uses: actions/upload-artifact@v4
        with:
          name: safety-report
          path: safety-report.txt

  dependabot:
    name: Dependabot (GitHub-native)
    runs-on: ubuntu-latest
    steps:
      - run: echo "⚠️ Dependabot работает как отдельный сервис GitHub, job запускается для фиксации workflow"
