name: SCA Scan
on:
  push:
  pull_request:

jobs:
  sca-trivy:
    runs-on: ubuntu-latest
    environment: secret
    env:
      FLASK_SECRET_KEY: ${{ secrets.FLASK_SECRET_KEY }}
      DB_TYPE: "fake" 
    steps:
      - uses: actions/checkout@v3
      
      - name: Build Docker image
        run: docker build -t app .

      - name: Run Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: app
          format: table
          exit-code: 1

  sca-grype:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Grype
        run: |
          curl -sSfL https://get.anchore.io/grype | sh -s -- -b /usr/local/bin

      - name: Scan
        run: grype file:requirements.txt -vv

  sca-depcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run OWASP Dependency-Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          path: '.'         
          format: 'HTML'         
          output: 'reports'
